.email-form {
  margin: 50px auto 90px auto;
  width: 80%;
  max-width: 600px;
  padding-bottom: 20px;
}

.email {
  color: var(--pale-blue);
  outline: 0;
  width: 100%;
  font-size: 1.1rem;
  font-weight: 300;
  padding: 18px;
  border: 1px solid var(--pale-blue);
  border-radius: 30px;
}

.error {
  color: var(--light-red);
  border-color: var(--light-red);
}

#warning {
  visibility: hidden;
}

.validation-error {
  text-align: left;
  margin-top: 10px;
  margin-left: 18px;
  color: var(--light-red);
  font-size: 0.8rem;
  font-weight: 300;
  font-style: oblique;
}

.submit {
  margin-top: 20px;
  outline: 0;
  text-transform: capitalize;
  width: 100%;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 18px;
  color: white;
  background-color: var(--blue);
  border-radius: 30px;
  box-shadow: 0 12px 12px -6px var(--pale-blue);
  border: none;
  transition: background-color 1s;
}

.submit:hover,
.submit:focus {
  background-color: var(--pale-blue);
  border: none;
}

@media (min-width: 700px) {
  .email-form {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
      "input submit"
      "warning .";
    grid-column-gap: 20px;
  }

  .email {
    grid-area: input;
  }

  .validation-error {
    grid-area: warning;
  }

  .submit {
    margin-top: 0;
    grid-area: submit;
  }
}